@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;700&family=Quicksand:wght@300;700&family=Space+Grotesk:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
}

.activity-section {
  background-image: linear-gradient(to bottom, #367a83, #357ec2);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  min-height: 400px;
	min-width: 600px;
	max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	margin: auto auto;
}

.activity-section h1 {
  font-family: 'Lexend', sans-serif;
  color: #fff;
  margin: 10px;
  font-size: 2rem;
}

.activity-section p {
  font-family: 'Space Grotesk', sans-serif;
  color: #fff;
  margin: 10px;
}

.activity-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 20px;
}

#activity {
  font-size: 2rem;
  margin: 0 0 20px;
  font-family: "Lexend", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

button#get-activity {
  font-size: 1.5rem;
  font-family: 'Lexend', sans-serif;
  font-weight: bold;
  width: 100%;
  padding: 10px 0;
  border: none;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  height: 40%;
}

button#get-activity:hover {
  background-color: #555;
  color: #fff;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
	.activity-section{
		margin: auto 10px;
    min-width: unset; /* removes min-width property */
    max-width: unset; /* removes max-width property */
	}
	.activity-section h1 {
		font-family: 'Lexend', sans-serif;
		color: #fff;
		margin:0 auto;
		font-size: 1.2rem;
		text-align: center;
	}
	.activity-section p{
		font-family: 'Space Grotesk', sans-serif;
		color: #fff;
		font-size: 0.8rem;
		margin: 0 auto;
		padding: 10px;
		text-align: center;
	}
}